rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /authorized_devices/{deviceId} {
      allow get: if true;
      allow list, create, update, delete: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
